[user]
    name = William Wong
    email = wnineg@gmail.com
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe

[alias]
    indiff = diff --staged
    amend = commit --amend
    # To limit the lengths of messages, add the format option like: --format=\"%C(auto)%h %d %<(120,trunc)%s\"
    gh = log --graph --author-date-order --oneline -25
    fixup = commit --fixup
    squash = commit --squash
    shownames = show --name-status
    pick = cherry-pick
    ff = merge --ff-only
    go = switch
    wt = worktree
    lu = log --oneline @..@{u}

[core]
    autocrlf = false
    editor = nvim
    pager = delta
[pager]
    status = true
[diff]
    colorMoved = no
[interactive]
    diffFilter = delta --color-only
[delta]
    syntax-theme = Coldark-Dark
    line-numbers = true
    navigate = true
;     side-by-side = true

[merge]
    tool = bc
[mergetool]
    keepBackup = false
[mergetool "bc"]
    cmd = /mnt/c/Program\\ Files/Beyond\\ Compare\\ 4/BCompare.exe /automerge /reviewconflicts $LOCAL $REMOTE $BASE $MERGED
    trustExitCode = true
[pull]
    rebase = true
[rebase]
    autosquash = true

# For directory-based configs, use includeif
#[includeIf "gitdir:~/dev/proj/personal/"]
#    path = "~/.config/git/personal/.gitconfig"
